/* remove broswer defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* load font, main background, and page defaults */
body {
  font-family: "Oswald", sans-serif;
  background-color: #EEE;
}

nav {
  position: sticky;
  background-color: #AAA;
  display: flex;
}

nav > a {
  display: block;
  flex-direction: row;
}

.center-text {
  background-color: #CCC;
  width: 100%;
  height: 85vh;
}

.bottom-text {
  background-color: #111;
  color: white;
  height: 10vh;
  width: 100%;
}
