/* remove broswer defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* load font, main background, and page defaults */
body {
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}
